/* Set default colors */
:root {
    --main-color: #5271ff;
}

/* Set default font */
* {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
}

.primary-blue {
    background-color: var(--main-color);
    color: #ffffff;
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

.content {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* Media query for phones in portrait mode (max-width: 767px) */
@media (max-width: 767px) {
    .content {
        max-width: 100%; /* Full width for small screens */
    }
}

/* Media query for tablets (min-width: 768px) */
@media (min-width: 768px) {
    .content {
        max-width: 750px;
    }
}

/* Media query for small desktops (min-width: 992px) */
@media (min-width: 992px) {
    .content {
        max-width: 970px;
    }
}

/* Media query for large desktops (min-width: 1200px) */
@media (min-width: 1800px) {
    .content {
        max-width: 1770px;
    }
}

.app {
    flex: 1 0 auto;
}

.title {
    font-size: xx-large;
    font-weight: 600;

    margin-bottom: 1rem;
}

.subtitle {
    font-size: x-large;
    font-weight: 600;

    margin-bottom: 1rem;
}

main {
    padding: 2rem 2rem;
}

