.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 30px;

}

.dashboard .folder {
    display: flex;
    flex-direction: row;
}

.dashboard .folder .select {
    flex-grow: 8;

    display: flex;
    align-items: center;
}

/* Select the selector to make it 100% width */
div:has(> #select-folder) {
    width: 100%;
}

.dashboard .folder .actions {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard .ajouter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dashboard .ajouter button:first-child {
    width: 100%;
}

.dashboard .list {
    display: flex;
    flex-direction: column;
}

.dashboard .list .quiz {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
    box-sizing: content-box;
}

.dashboard .list .quiz .title {
    flex-grow: 8;

    display: flex;
    align-items: center;

    /* reset title css */
    font-size: large;
    margin: 0;
    font-weight: 100;
    overflow: hidden;
}
.dashboard .list .quiz .title button {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.dashboard .list .quiz .actions {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard .list .quiz .actions {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.folder-card {
    position: relative;
    /* margin: 40px 0 20px 0; /* Add top margin to make space for the tab */
    border-radius: 8px;
    color: #f9f9f9;
    --outline-color: #e1e1e1;
    border: 2px solid var(--outline-color);
}

.folder-tab {
    position: absolute;
    top: -33px;
    left: 9px;
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block; /* Ensure the tab width is based on content */
    border: 2px solid var(--outline-color);
    border-bottom-style: none;
    background-color: white; /* Optional: background color to match the card */
    color: #3f51b5; /* Text color to match the outline */
}

/* .folder-card:nth-child(odd) {
    background-color: #f9f9f9;
}

.folder-card:nth-child(even) {
    background-color: #e0e0e0;
} */
