.correct-answer {
    background-color: lightgreen;
}

.incorrect-answer {
    background-color: lightcoral;
}

.present-results-title {
    margin-top: 8vh;
    margin-bottom: 2vh;
    font-size: 2rem;
    font-weight: 500;
}

/* Flexbox container for the action bar */
.action-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Flexbox container for the form group */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table-cell-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(224, 224, 224, 1);
}

/* -------------- */

.table-container {
    overflow-x: auto;
    position: relative;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2; /* Ensure it stays above other cells */
}

.sticky-column {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1; /* Ensure it stays above other cells but below the header */
}

.sticky-intersection {
    z-index: 3; /* Ensure the top-left cell stays above both header and column */
}

/* ------------------------------- */

/* Media query for narrow screens */
@media (max-width: 600px) {
    .action-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .form-group {
        flex-direction: column;
        align-items: stretch;
    }

    .text-2xl {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }

    .text-sm {
        font-size: 0.875rem; /* Adjust font size for smaller screens */
    }

    .mb-1 {
        margin-bottom: 0.5rem; /* Adjust margin for smaller screens */
    }
}
