{
    "auth": {
        "passportjs":
        [
            {
                "gmatte": {
                    "type": "oauth",
                    "OAUTH_AUTHORIZATION_URL": "https://auth.gmatte.xyz/application/o/authorize/",
                    "OAUTH_TOKEN_URL": "https://auth.gmatte.xyz/application/o/token/",
                    "OAUTH_USERINFO_URL": "https://auth.gmatte.xyz/application/o/userinfo/",
                    "OAUTH_CLIENT_ID": "clientID",
                    "OAUTH_CLIENT_SECRET": "clientSecret",
                    "OAUTH_ADD_SCOPE": "groups",
                    "OAUTH_ROLE_TEACHER_VALUE": "groups_evaluetonsavoir-prof",
                    "OAUTH_ROLE_STUDENT_VALUE": "groups_evaluetonsavoir"
                }
            },
            {
                "oidc_gmatte": {
                    "type": "oidc",
                    "OIDC_CONFIG_URL": "https://auth.gmatte.xyz/application/o/evaluetonsavoir/.well-known/openid-configuration",
                    "OIDC_CLIENT_ID": "clientID",
                    "OIDC_CLIENT_SECRET": "clientSecret",
                    "OIDC_ADD_SCOPE": "groups",
                    "OIDC_ROLE_TEACHER_VALUE": "groups_evaluetonsavoir-prof",
                    "OIDC_ROLE_STUDENT_VALUE": "groups_evaluetonsavoir"
                }
            }
        ],
        "simple-login": {
            "enabled": true,
            "name": "provider3",
            "SESSION_SECRET": "your_session_secret"
        }
        "Module X":{
            
        }
    }
}